*{
    box-sizing: border-box;
}


body{
    margin: 0;
    background-color: #282D35;
    background-image: url('/public/reactjs-icon\ 2.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

header{
    height: 90px;
    background-color: #21222A;;
}

nav{
    width: 90%;
    display: flex;
    height: 90px;
    padding-left: 20px;
    align-items: center;
}

nav img{
    width: 70px;
    margin-right: 20px;

}

nav span{
    color: #61DAFB;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 500;
}

main {
    padding: 50px 100px;
}

main h1{
    margin: 0;
    font-size: 5rem;
}

main ul li{
    font-size: 2em;
    margin-top: 10px;
    margin-block: 10px;
}

main ul li::marker{
    color: #61DAFB;
}